FinoPodesavanjeModeli/Stil/Rank/rank256alpha1/model/** filter=lfs diff=lfs merge=lfs -text
FinoPodesavanjeModeli/Stil/Rank/rank256alpha128/model/** filter=lfs diff=lfs merge=lfs -text
FinoPodesavanjeModeli/Stil/Rank/rank256alpha256/model/** filter=lfs diff=lfs merge=lfs -text
